<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/stylesheet/contact.css">
</head>
<body>
    <div class="out">
        <a class="row" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
              </svg>              
        </a>
    </div>
    <div class="row1-container">
        <a class="box box-down border link" href="https://github.com/GreDDySS">
          <h2>GitHub</h2>
          <img src="/images/github.png"" alt="">
        </a>
    
        <div class="box border">
          <h2>Discord</h2>
          <p>GreDDySS#2387</p>
          <img src="/images/discord.png" alt="">
        </div>
    
        <a class="box box-down border link" href="https://twitch.tv/GreDDySS">
          <h2>Twitch</h2>
          <img src="/images/twitch.png" alt="">
        </a>
      </div>
      <div class="row2-container">
        <a class="box border link" href="https://t.me/GreDDySS">
          <h2>Telegram</h2>
          <img src="/images/telegram.png" alt="">
        </a>
    </div>
</body>
</html>