<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap" rel="stylesheet">
<title><%= title %></title>
<link rel="icon" type="image/x-icon" href="/images/icon.png">
<meta property="author" content="GreDDySS">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="GreDDBot — Чат-бот направленный на малую аудиторию стриминговой площадки Twitch.tv Данный бот не имеет крупных команд как имеют аналоги. Управление бота лежит на одном только человеке.">
<meta property="og:image" content="/images/robot.png">